.top{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    background-color: white;
    flex-direction: row;
    height: 57px;
    border-bottom: 1px solid #dedede;
    margin-bottom: 20px;
    position: fixed;
    left: 0px;
    right: 0px;
    z-index: 100;
    top: 0px;
}
.left{
    /* background-color: aqua; */
    width: 160px;
    display: flex;
    align-items: center;
}
.menu{
    width: 38px;
    background-color: rgb(255, 255, 255);
    border: none;
    margin-left: 12px;
    margin-right: 12px;
}
.logo{
    width: 110px;
    background-color: white;
    border: none;
}
.mid{
    /* background-color: blue; */
    flex: 1;
    margin-left: 65px;
    max-width: 470px;
    margin-right: 35px;
    display: flex;
    align-items: center;
}
.search{
    height: 40px;
    flex: 1;
    width: 0px;
    font-size: 16px;
    text-indent: 8px;
    border: 1px solid rgb(216, 214, 214);
    
    box-shadow: inset 0.5px 1px 3px rgb(230, 229, 229);    
}

.lens{
    width: 65px;
    height: 40px;
    border: 1px solid rgb(216, 214, 214);
    background-color: rgb(247, 246, 246);
    /* position: relative;
    display: flex;
     flex-direction: column;
     
     align-items: center; */

}
.right .point,.mid .point{
    position: relative;
    display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;


}
.info{
    color: white;
    background-color: rgb(104, 101, 101);
    padding:10px 8px;
    /* margin-top: 50px;  */
    /* position: absolute;
    top: 50px; */
    word-wrap:0;
    font-size: 12px;
    opacity: 0;
    border-radius: 2px;
    position: absolute;
    bottom: -50px;
    transition: opacity 0.1s;
    pointer-events: none;
    white-space: nowrap;

    /* font-weight: 200; */
}
.mid .point:hover .info{
    opacity: 1;
}
.right .point:hover .info{
    opacity: 1;
}
.lens-icon{
    width: 47%;
    /* margin-top: 5px; */
}
.micro{
    height: 40px;
    width: 40px;
    border-radius: 25px;
    margin-left: 8px;
    border:none;  
    background-color: rgb(247, 246, 246);
}
.micro-icon{
    /* margin-top: 5px; */
    width: 94%;
}

.right{
    /* background-color: antiquewhite; */
    width: 210px;
    display: flex;
    justify-content: left;
    align-items: center;
    
}
.create ,.bell ,.app ,.id{
    height: 40px;
    width: 40px;
    border: none;
    background-color: white;
    margin-right: 10px;

}
.create-icon,.bell-icon,.app-icon{
    width: 87%;
    
}
.id{
    margin-left: -10px;
}
.id-icon{
    height: 40px;
    width: 40px;
    
}
